.portfolio {
    .portfolioContent {
        width: 100%;
        display: grid;
        min-height: $minHeight;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: "1" "2";
    }

    .radioDisplay {
        grid-area: 1;
        border-radius: $borderRadius;
        display: flex;
        width: 100%;
        padding: 1rem 2rem;
        margin: 0 auto;
        background: $color-1;
        user-select: none;
        box-shadow: $shadow;

        li {
            color: $color-3;
            font-size: 1.1rem;
            text-transform: uppercase;
            padding: 1 0.5rem;
            flex: 1;
            z-index: 2;
            @include verticalCenter;

            label {
                display: flex;
                align-items: center;
                padding-left: .5rem;
                cursor: pointer;
          
                input[type="radio"] {
                  visibility: hidden;
                  position: relative;
          
                  &:before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 8px;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    transition: background-color 0.2s ease-in-out;
                  }
          
                  &:checked:before {
                    background-color: $color-3;
                    border-color: $color-3;
                  }
                }
          
                span {
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  border: 1px solid #ccc;
                  border-radius: 50%;
                  margin-right: 8px;
                }
            }
        }
    }
    .projects {
        grid-area: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .project {
            margin-top: 30px;
            background-color: $color-3;
            border: 1px solid $color-5;
            border-radius: $borderRadius;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            box-shadow: $shadow;
            margin-bottom: 2rem;
            height: 95%;
            width: 49%;

            &:nth-child(3n) {
                margin-right: 0;
            }

            .icons {
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                padding-top: 1rem;

                i {
                    font-size: 1.5rem;
                    margin: 0 0.5rem;
                    color: $color-4;
                }
            }

            h3 {
                font-family: $font-3;
                color: $color-1;
                font-size: 1.5rem;
                font-weight: 900;
                margin-bottom: 1rem;
            }

            img {
                max-width: 100%;
                height: 100%;
                border: 1rem;
                border-radius: 2%;
                box-shadow: $shadow;
            }

            .infos {
                text-align: center;
                margin-top: 1rem;
                cursor: pointer;

                i {
                    font-size: 1.5rem;
                    color: $color-5;
                }
            }

            .showInfos {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1000;
            
                .infosContent {
                    background-color: $white;
                    padding: 1rem;
                    border: 1px solid $color-4;
                    border-radius: $borderRadius;
                    box-shadow: $shadow;
                    text-align: center;
                    width: 80%;
        
                    .head {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
        
                        h2 {
                            font-family: $font-3;
                            font-size: 1.2rem;
                            margin-bottom: 0.5rem;
                        }
        
                        .sourceCode {
                            a.button {
                                background-color: $color-2;
                                color: $white;
                                padding: 0.5rem 1rem;
                                text-decoration: none;
                                border-radius: $borderRadius;
                                transition: background-color 0.3s;
        
                                &:hover {
                                    background-color: $color-3;
                                }
                            }
                        }
                    }
        
                    .text {
                        font-size: 1rem;
                        margin-top: 1rem;
                        line-height: 1.5;
                    }
        
                    .return.button {
                        margin-top: 1rem;
                        background-color: $color-1;
                        color: $white;
                        padding: 0.5rem 1rem;
                        text-decoration: none;
                        border-radius: $borderRadius;
                        cursor: pointer;
                        transition: background-color 0.3s;
        
                        &:hover {
                            background-color: $color-2;
                        }
                    }
                }
            }        
        }
    }


    @media (max-width: 650px) and (min-width: 521px) {
        .portfolioContent {
            .project {
                width: 49% !important;

                i {
                    font-size: 1rem;
                }
            }

            .infosContent {
                width: 100% !important;
            }
        }
    }

    @media (max-width: 520px) {
        .radioDisplay {
            //display: none !important;
            width: 100% !important;
            height: max-content !important;
        }

        .portfolioContent {
            grid-template-rows: 1fr !important;

            .project {
                grid-template-rows: 30px 40px 80px 40px !important;
                width: 100% !important;
                height: 500px !important;

                img {
                    height: 400px !important;
                }
            }
        }
    }
}